@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes appear {
  from {
    opacity: 0.5;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.block-animate{
  animation: appear linear;
  animation-timeline: view();
}
